@media screen and (max-width:1200px){
    .main_devices{
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 600px;
        flex-wrap: wrap;
        margin: 30px auto;
        padding: 0 15px;
    }
    .main_devices a{
        margin: 5px 0;
        width: 33.333333%;
        padding: 10px;
    }
    .main_devices a img{
        width: 100%;
    }
}
@media screen and (max-width:1000px){
    .header_container{
        padding: 0 15px;
    }
    .logo {
        margin-right: 30px;
    }
    body.arabic .logo {
        margin-right: 0;
        margin-left: 30px;
    }
    .container{
        padding: 60px 15px;
    }
    .middle_download{
        padding: 0 15px;
    }
}

@media screen and (max-width:900px){
    .logo {
        margin-right: 0;
    }
    body.arabic .logo {
        margin-left: 0;
    }
    .nav li{
        display: none;
    }
    .left_bar{
        display: none;
    }

    .phone_video {
        height: 287px;
        width: 596.4px;
    }
    .phone_video_player {
        width: 614.6px;
        height: 348.6px;
    }
}

@media screen and (max-width:800px){
    .main_title {
        font-size: 40px;
    }
    .main_paragraph {
        font-size: 17px;
    }
}

@media screen and (max-width:700px){
    .top_down_button button{
        padding: 0 20px;
    }
    .container {
        padding: 30px 15px;
    }
    .main_title {
        font-size: 30px;
    }
    .main_paragraph {
        font-size: 16px;
    }
    .phone_video {
        height: 200.9px;
        width: 417.48px;
    }
    .phone_video_player {
        width: 430.22px;
        height: 244.02px;
    }

}

@media screen and (max-width:600px){
    .middle_download{
        height: auto;
    }
    .middle_download_container{
        flex-direction: column;
        padding: 30px 15px;
    }
    .middle_download_text{
        display: none;
    }
    .middle_download_devices a{
        margin: 0;
        padding: 0 5px;
    }

    .main_devices{
        padding: 0;
    }
    .main_devices a{
        margin: 0;
        width: 50%;
        padding: 5px;
    }
}

@media screen and (max-width:500px){
    .top_down_button button {
        padding: 0 12px;
        font-size: 14px;
        height: 40px;
        font-weight: 500;
    }
    .phone_video {
        height: 140.63px;
        width: 292.236px;
    }
    .phone_video_player {
        width: 301.154px;
        height: 170.814px;
    }
    .middle_download_devices{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .middle_download_devices a{
        margin: 5px 0;
    }

    .top_down_button:hover > .top_down_devices {
        top: calc(100% + 30px);
        padding: 10px;
    }
    .top_down_devices a{
        margin: 10px 0;
    }
    .top_down_devices a img {
        width: 100%;
    }
    
}

@media screen and (max-width:350px){
    .logo img {
        width: 100px;
    }
    .top_down_button button {
        font-size: 12px;
    }
}